<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671044940942-rlgfnrjv016tjq9nj6gln5tn0kv6uu3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671044940942-rlgfnrjv016tjq9nj6gln5tn0kv6uu3j</string>
	<key>API_KEY</key>
	<string>AIzaSyD0BFTSqcglUcwssh3Gn3wrSiebrxNg8yU</string>
	<key>GCM_SENDER_ID</key>
	<string>671044940942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arwamahdai.Market</string>
	<key>PROJECT_ID</key>
	<string>market-3fe7c</string>
	<key>STORAGE_BUCKET</key>
	<string>market-3fe7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671044940942:ios:9cf7effbcb03bc4da085df</string>
	<key>DATABASE_URL</key>
	<string>https://market-3fe7c.firebaseio.com</string>
</dict>
</plist>
